body{
    background-color: #eff6f4;
    margin: 0px;
    padding: 0px;
}

#topsection{
    /* border: 1px solid  red; */
    width: 80%;
    margin: auto;
    height: 620px;
}
#topsection>div{
    height: 50%;
    width: 100%;
    /* flex-direction: column; */
}
#top-upper{
    display: flex;
    /* border: 1px solid black; */
    gap: 40px;
}
#top-upper>div{
   /* border: 1px solid red; */
   width: 31%;
}
#top-upper>div>div{
    /* border: 1px solid black; */
    width: auto;
    height: auto;
    margin: 30px;
}



#top-upper:nth-child(1)>div>img{
    height: 99%;
    width: 99%;
}
#top-upper>#side-0{
    background-color: #FFFFFF;
}

#top-lower{
    display: flex;
    width: 100%;
    height: 499px;
    /* border: 1px solid green ; */
    gap: 40px;
    margin-top: 20px;

    
}

#top-lower>div{
    /* border: 1px solid red;   */
    height: 100%;
    width: 33%;
}

.nws-cart{
     margin: 10px;
     margin-top: 20px;
    display: flex;
}
.nws-cart>p{
    margin-top: 0px;
    margin-left: 15px;
    font-weight: bolder;
}
.nws-cart>img{
    height: 90%;
    width: 20%;
}

.lf-side{
    margin-top: 20px;
    height: 40%;
    display: flex;
    /* border: 1px solid black; */
    background-color: #FFFFFF;
}

#sio{
    background-color: #FFFFFF;
}
#sio>div{
    margin: 28px;
}

.li-u{
    margin: 10px;
    margin-top: 20px;
}
ul li::before {
    content: "\2022";
    color: #0087a8;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

  .heading-1{
    background-color: #FFFFFF;
  }
#moretopic{
    width: 100%;
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid red;
    height: 500px;
    margin-top: 80px;
}


#liq{
    margin: auto;
    display: flex;
    border: 1px solid red;
    width: 800px;
    height: 400px;
    margin-top: 80px;
    margin-left: 100px;
}

#vi{
    border: 1px solid black;
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 80px;
    margin-left: 0px;
}

#BENGALURU{
    border: 1px solid red;
    height: 500px;
}
#auto{
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-template-rows: repeat(2,400px);
    border: 1px solid red;
}
#auto>div{
    height: 100px;
}






